<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @for (product of products; track $index) {
    <div class="col">
      <div class="card h-100 product-card border-0">
        <div class="card-img-container rounded-top">
          <img
            [src]="product.imgUrl"
            class="card-img-top"
            alt="Product image"
          />
        </div>

        <div class="card-body p-3">
          <h5 class="card-title fw-bold mb-2">{{ product.productName }}</h5>

          <p class="card-text text-muted mb-3">
            {{ product.productDescription }}
          </p>

          <div class="rating-stars">
            @for (star of [1, 2, 3, 4, 5]; track star) {
            <i
              class="bi {{ star <= product.rate ? 'bi-star-fill' : 'bi-star' }}"
            ></i>
            }
            <span class="rating-value ms-2">{{ product.rate }}</span>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
